<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
</head>

<body class="bg-gray-800 min-h-screen">
  <div class="flex h-[80vh]">
    <video #localVideo autoplay playsinline muted class="w-1/2 border-r-2 border-r-black bg-blue-800 h-full"></video>
    <video #remoteVideo autoplay playsinline muted class="w-1/2 border-l-2 border-l-black bg-blue-800 h-full"></video>
  </div>
  <div class="flex mt-[7vh] justify-evenly px-4">
    <button (click)="startCall()" [disabled]="isCallStarted"
      class="bg-green-400 rounded-md h-14 px-7.5 hover:cursor-pointer hover:shadow-[0_0_0.6em_0.1em_rgba(0,255,0,1)] transition-all duration-200 active:scale-95 active:translate-y-1 disabled:active:animate-wiggle disabled:active:scale-100 disabled:active:translate-none disabled:cursor-default disabled:bg-green-900 disabled:text-gray-400 disabled:shadow-none">Start
      call</button>
    <button (click)="skipCall()" [disabled]="!currentPeerId"
      class="bg-amber-500 rounded-md h-14 px-7.5 hover:cursor-pointer hover:shadow-[0_0_0.6em_0.1em_rgba(245,158,11,1)] transition-all duration-200 active:scale-95 active:translate-y-1 disabled:active:animate-wiggle disabled:active:scale-100 disabled:active:translate-none disabled:bg-amber-950 disabled:cursor-default disabled:text-gray-400 disabled:shadow-none">Skip</button>
    <button (click)="cutCall()" [disabled]="!isCallStarted"
      class="bg-red-500 rounded-md h-14 px-7.5 hover:cursor-pointer hover:shadow-[0_0_0.6em_0.1em_rgba(255,0,0,1)] transition-all duration-200 active:scale-95 active:translate-y-1 disabled:active:animate-wiggle disabled:active:translate-none disabled:active:scale-100 disabled:bg-red-950 disabled:cursor-default disabled:text-gray-400 disabled:shadow-none">Cut
      call</button>
  </div>
</body>

</html>
<app-footer></app-footer>