<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
</head>

<body>
  <div>
    <video #localVideo autoplay playsinline muted class="h-64 w-64 border-2 border-green-500"></video>
    <video #remoteVideo autoplay playsinline muted class="h-64 w-64 border-2 border-black"></video>
  </div>
  <div>
    <button (click)="startCall()" [disabled]="isCallStarted"
      class="border-2 border-black hover:cursor-pointer mr-1 disabled:cursor-default disabled:bg-gray-400 disabled:text-white">Start
      call</button>
    <button (click)="cutCall()" class="border-2 border-black hover:cursor-pointer">Cut call</button>
  </div>
</body>

</html>