<footer class="flex justify-between bg-black text-white py-2 px-1">
    <div>
        <h2>Made with <span class="animate-pulse">❤️</span> and passion by <a href="https://github.com/Crazyengineer1"
                target="_blank"
                class="text-xl transition-all duration-200 text-green-500 hover:cursor-pointer">Crazyengineer1</a></h2>
    </div>
    <div class="flex justify-between">
        <a href="https://github.com/Crazyengineer1" target="_blank"
            class="transition-all duration-200 hover:text-gray-500 hover:cursor-pointer mr-1">
            <i class="fab fa-github text-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/mayankkumar2508" target="_blank"
            class="transition-all duration-200 hover:text-gray-500 hover:cursor-pointer ml-1">
            <i class="fab fa-linkedin text-2xl"></i>
        </a>
    </div>
</footer>